.header-container {
    width: 375px;
    height: 67px;
    background-color:#C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-title {
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    color: #E8833A;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');