
.middle-page-title {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.page-title-2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 85px;
}

.single-session {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 18px;
}

.day-sessions {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.session-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 43px;
    left: 23px;
    top: 227px;
    color: black;
    
    background: #E8833A;
    border-radius: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');